<!-- Features/services section -->
<div class="row">
	<div class="twelve columns">
		<div class="four columns features-content">
			<div class="ico" style="color:#2ecc71;"><i class="icon-invoice"></i></div>
			<div class="features-info">
				<h4>No more paper</h4>
				<p>Virtual copy of all invoices and receipts.</p>
			</div>
		</div>

		<div class="four columns features-content">
			<div class="ico" style="color:#3498db;"><i class="icon-barcode"></i></div>
			<div class="features-info">
				<h4>Receipt scanner</h4>
				<p>Use your smartphone or tablet to scan receipts.</p>
			</div>
		</div>

		<div class="four columns features-content">
			<div class="ico" style="color:#9b59b6;"><i class="icon-value-coins"></i></div>
			<div class="features-info">
				<h4>Easy budgeting</h4>
				<p>For both business expenses and personal projects.</p>
			</div>
		</div>
	</div>

	<div class="twelve columns">
		<div class="four columns features-content">
			<div class="ico" style="color:#e67e22;"><i class="icon-abacus"></i></div>
			<div class="features-info">
				<h4>Track expenses</h4>
				<p>Quickly get an overview over the financial situation.</p>
			</div>
		</div>

		<div class="four columns features-content">
			<div class="ico" style="color:#e74c3c;"><i class="icon-iphone"></i></div>
			<div class="features-info">
				<h4>Available everywhere</h4>
				<p>FinApp works on your computer, smartphone and tablet.</p>
			</div>
		</div>

		<div class="four columns features-content">
			<div class="ico" style="color:#f1c40f;"><i class="icon-lock"></i></div>
			<div class="features-info">
				<h4>Complete privacy</h4>
				<p>No information about you will be released to third parties.</p>
			</div>
		</div>
	</div>
</div>
<!-- Features/services section -->