<!-- Header section -->
<div class="top-wrap">
	<div class="row">
		<div class="twelve columns">
		
			<!-- Logo content -->
			<div class="four columns logo">
				<h1><a href="#">Fin<span>App</span></a></h1>
			</div>

			<!-- Navmenu content -->
			<div class="eight columns">
				<ul class="top-nav">
					<li class="current"><a href="#top">How</a></li>
					<li><a href="#features">What</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Header section -->